############################
# SYSTEM
############################
.DS_Store
Thumbs.db

############################
# IDE
############################
.idea/
.vscode/
*.iml

############################
# NODE
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# ANGULAR
############################
dist/
.angular/
coverage/

############################
# ENV
############################
.env
.env.local